<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crimson+Text|Roboto+Condensed">
    <title>Red Hat Cloud IDE</title>
</head>
<body style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.4; margin: 0; padding: 0;">
<table style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; width: 100%; margin: 0; padding: 0;">
    <tr>
        <td style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; vertical-align: top; max-width: 520px !important; clear: both !important; margin: 0 auto; padding: 0;">
            <div style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; max-width: 770px; display: block; margin: 0 auto; padding: 10px;">
                <table style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; border-radius: 30px; background: #fff; margin: 0; padding: 0; box-shadow: 0 2px 4px #e5e5e5; width: 100%; margin: 0; padding: 0;"
                       width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; vertical-align: top; max-width: 520px !important; clear: both !important; margin: 0 auto; padding: 0;">
                            <table style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; width: 100%; margin: 0; padding: 0;">
                                <tr>
                                    <td style="{{site.top_banner_style}}">
                                        <div style="height: 100%;">
                                            <img style="top: 0px; width: 130px; margin: 25px 0px 55px 15px; max-width: 100%;"
                                                 th:src="${codenvy} ? @{${codenvy}} : 'cid:codenvy'" alt="Red Hat"/>
                                            <div style="{{site.header_style}}">
                                                {{page.header}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            {{ content }}
                            <table style="font-family: 'New Century Schoolbook', 'Crimson Text'; box-sizing: border-box; font-size: 13px; width: 100%; margin: 0; padding: 0;">
                                <tr>
                                    <td style="{{site.bottom_banner_style}}">
                                        <div style="display: inline-block">
                                            <img style="display: none; top: 0px; width: 35px; margin: 10px 0px 0px 20px; max-width: 100%;"
                                                 th:src="${codenvySmall} ? @{${codenvySmall}} : 'cid:codenvySmall'" alt="Red Hat logo"/>
                                        </div>
                                        <div style="display: none; float: right; margin: 0px 10px">
                                            <a href=""><img style="height: 25px; margin: 15px 5px; max-width: 100%;"
                                                            th:src="${linkedin} ? @{${linkedin}} : 'cid:linkedin'" alt="Linked-in"/></a>
                                            <a href=""><img style="height: 25px; margin: 15px 5px; max-width: 100%;"
                                                            th:src=" ${facebook} ? @{${facebook}} : 'cid:facebook'" alt="Facebook"/></a>
                                            <a href=""><img style="height: 25px; margin: 15px 5px; max-width: 100%;"
                                                            th:src="${twitter} ? @{${twitter}} : 'cid:twitter'" alt="Twitter"/></a>
                                            <a href=""><img style="height: 25px; margin: 15px 5px; max-width: 100%;"
                                                            th:src="${medium} ? @{${medium}} : 'cid:medium'" alt="Medium"/></a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
