<form class="light contact-form">
    <div class="container">
        <div class="error-container"></div>
        <div class="row center success-message hidden">
            Thanks for getting in touch!
        </div>
        <div class="row">
            <div class="span12 field left">
                <label>Your email address:</label>
            </div>
        </div>
        <div class="row">
            <div class="span12 field">
                <input type="text" name="email">
            </div>
        </div>
        <div class="row">
            <div class="span12 field left">
                <label>Message:</label>
            </div>
        </div>
        <div class="row">
            <div class="span12 field">
                <textarea rows="5" name="message"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="span12 field">
                <input class="light-button button-200" type="submit" value="Send">
                <div class="working hidden">working...</div>
            </div>
        </div>
    </div>
</form>
