/*Error Page*/
.fa-exclamation { /* error page exclamation*/
/*	background-color:#2C3E7F;
	color: #fff;*/
}
/*Horizontal Line*/
.light hr {
/*    border: solid 1px #e3e4e7;
    margin: 30px auto;*/
}
/*header*/
.signup-page h1, .error-page h1{
	/*color: #cccccc;*/
}
/*message*/
.light p {
}

/*SignUp Page, Error Page*/
.signup-page, .error-page{
	background:#242424!important;
}
/*header*/
.signup-page h2, .error-page h2{
	/*color: #cccccc;*/
}

/*links*/
.signup-page li a{
	color:#A30000;
}
.signup-page ul li a:hover{
	color: #7D0000;
	text-decoration: none;
}

/*Input Text Field*/
.signup-page input[type="text"],.signup-page input[type="email"],.signup-page input[type="password"]{
	background:#8c8f91!important;
	color:#fff!important;
}
.signup-page input[type="text"]:focus,.signup-page input[type="email"]:focus,.signup-page input[type="password"]:focus{
	background:#B5B7B7;
}

/*Form Submit Button*/
.signup-page input[type="submit"]{
	background:#cc0000;
	/*color:#fff;*!*/
}
.signup-page input[type="submit"]:hover{
	background: #7D0000;
}

/*Logo*/
.signup-page .logo, .error-page .logo{
	/*margin:20px 0px 21px 0px;*/
}

/*Error Container*/
.error-container {
 /*   color: rgb(255, 255, 255);
    background: rgb(215, 52, 45);*/
}

/*Fix bug with yellow autofilling in Crome*/
input:-webkit-autofill {
	-webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0px 0px 0px 1000px #8c8f91 inset !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0px 0px 0px 1000px #B5B7B7 inset !important;
    -webkit-text-fill-color: #fff;
}

/*Placeholder*/
::-webkit-input-placeholder {
   color: #242424;
   opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #242424;
   opacity:1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #242424;
   opacity:1;
}

:-ms-input-placeholder {
   color: #242424;
   opacity:1;
}
